@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* width: 50%;
  margin: 50px auto; */
}

label {
 /* color: black;*/
}

body {
    max-height: 100vh;
    /* background-color: rgb(15 23 42); 
    background-color: rgb(242, 243, 242);*/
}

/* input[type="checkbox"]{
  padding: 150px;
  height: 20px;
  width: 20px;
} */

.icon {
  cursor: pointer;
}